/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        test_combo {
            bindings = <&to 1>;
            key-positions = <0>;
        };
    };

    behaviors {
        left_tap_dance: left_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "LEFT_TAP_DANCE";
            #binding-cells = <0>;
            bindings = <&sl 1>, <&to 1>, <&to 0>;

            tapping-term-ms = <500>;
        };

        right_tap_dance: right_tap_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "RIGHT_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <500>;
            bindings = <&sl 2>, <&to 2>, <&to 0>;
        };

        hold_layer_change_tap_kp: hold_layer_change_tap_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_LAYER_CHANGE_TAP_KP";
            bindings = <&to>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <10000>;
            quick-tap-ms = <1000>;
            require-prior-idle-ms = <10>;
            flavor = "balanced";
        };

        always_to_zero: always_to_zero {
            compatible = "zmk,behavior-tap-dance";
            label = "ALWAYS_TO_ZERO";
            #binding-cells = <0>;
            bindings = <&to 0>, <&to 0>, <&to 0>;
        };
    };

    macros {
        open_close_parenthesis: open_close_parenthesis {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT_ARROW>;
            label = "OPEN_CLOSE_PARENTHESIS";
        };

        open_close_brackets: open_close_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT_ARROW>;
            label = "OPEN_CLOSE_BRACKETS";
        };

        open_close_square_brackets: open_close_square_brackets {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT_ARROW>;
            label = "OPEN_CLOSE_SQUARE_BRACKETS";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            display-name = "Base";
            bindings = <
&kp ESC    &kp N1  &kp N2  &kp N3                                &kp N4   &kp N5                             &kp N6     &kp N7   &kp N8                                   &kp N9   &kp N0    &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp E                                 &kp R    &kp T                              &kp Y      &kp U    &kp I                                    &kp O    &kp P     &kp NON_US_BACKSLASH
&kp LCTRL  &kp A   &kp S   &kp D                                 &lt 1 F  &kp G                              &kp H      &lt 1 J  &kp K                                    &kp L    &kp SEMI  &kp SQT
&kp LSHFT  &kp Z   &kp X   &kp C                                 &kp V    &kp B      &trans       &trans     &kp N      &kp M    &kp COMMA                                &kp DOT  &kp FSLH  &kp DELETE
                           &hold_layer_change_tap_kp 3 LEFT_WIN  &to 1    &kp MINUS  &kp ENTER    &kp SPACE  &kp EQUAL  &to 2    &hold_layer_change_tap_kp 3 PRINTSCREEN
            >;
        };

        left_mod {
            bindings = <
&trans  &none      &none        &none                 &none                  &none                              &none   &none            &none         &none         &none         &trans
&trans  &kp GRAVE  &kp AT_SIGN  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp PIPE                           &none   &kp N7           &kp N8        &kp N9        &kp ASTERISK  &none
&trans  &kp HASH   &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EXCLAMATION                    &kp N0  &kp NUMBER_4     &kp N5        &kp NUMBER_6  &kp PLUS      &none
&trans  &none      &kp CARET    &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp TILDE        &trans    &trans  &none   &kp NUMBER_1     &kp NUMBER_2  &kp NUMBER_3  &kp SLASH     &trans
                                &trans                &always_to_zero        &trans           &trans    &trans  &trans  &always_to_zero  &trans
            >;
        };

        right_mod {
            bindings = <
&trans  &none  &none      &none      &none            &bt BT_CLR                    &bt BT_SEL 0  &bt BT_SEL 1     &bt BT_SEL 2  &none      &none  &trans
&trans  &none  &none      &none      &none            &none                         &none         &none            &none         &none      &none  &none
&trans  &none  &kp LC(X)  &kp LC(C)  &kp LC(V)        &none                         &kp LEFT      &kp DOWN         &kp UP        &kp RIGHT  &none  &none
&trans  &none  &none      &none      &none            &none       &trans    &trans  &kp HOME      &kp HOME         &kp END       &kp END    &none  &trans
                          &trans     &always_to_zero  &trans      &trans    &trans  &trans        &always_to_zero  &trans
            >;
        };

        danger {
            bindings = <
&sys_reset  &bootloader  &bt BT_CLR_ALL  &none  &none            &none                  &none  &none            &none  &bt BT_CLR_ALL  &bootloader  &sys_reset
&none       &none        &none           &none  &none            &none                  &none  &none            &none  &none           &none        &none
&none       &none        &none           &none  &none            &none                  &none  &none            &none  &none           &none        &none
&none       &none        &none           &none  &none            &none  &none    &none  &none  &none            &none  &none           &none        &none
                                         &none  &always_to_zero  &none  &none    &none  &none  &always_to_zero  &none
            >;
        };
    };
};
